@import "tailwindcss";

body {
    font-family: 'Manrope', sans-serif;
  }

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #333; 
}
